.root {
	-fx-base: rgb(0, 60, 15);
	/* -fx-base: rgb(0, 43, 26); */
}

/* MainView */
.mainview {
	-fx-background-image: url("titlescreen.png");
	-fx-background-repeat: no-repeat;
	-fx-background-color: rgb(1, 81, 20);
}


/************
   GameView
*************/
.gameview {
	-fx-background-image: url("carpet.jpg");
	-fx-background-repeat: round;
}

/* VBox des joueurs */
.playerVBox {
	-fx-background-color: rgba(0, 255, 0, 0.175);
	-fx-background-radius: 20px;
	-fx-border-width: 2px;
	-fx-border-color: rgba(0, 0, 0, 0.5);
	-fx-border-radius: 15px;
	-fx-alignment: center;
}
.playerVBox .label {
	-fx-text-fill: rgba(0, 0, 0, 0.75);
	-fx-font-weight: bold;
	-fx-text-alignment: center;
	-fx-alignment: center;
}
.playerVBox.currentplayer {
	-fx-background-color: rgba(0, 255, 0, 0.1);
}

/* Croupier */
.label.croupier {
	-fx-text-fill: #000000e5;
}
.text-area.croupier {
	-fx-background-color: rgba(0, 255, 0, 0.175);
	-fx-background-radius: 15px;
}
/************/


/* Joueur */
.joueurview .value {
	-fx-font-weight: normal;
}


/* Paramètres */
.settingsview {
	-fx-background-color: rgb(1, 81, 20);
}


/* Menus */
.menu-button .context-menu {
	-fx-background-color: rgb(25, 95, 43);
	-fx-background-radius: 5px;
	-fx-border-color: rgb(18, 54, 13);
	-fx-border-radius: 5px;
	-fx-border-width: 2px;
}
.menu-button .radio-menu-item:focused, .menu-bar .menu-item:focused {
	-fx-background-color: rgb(14, 51, 23);
}
.mainview .menu-bar {
	-fx-background-color: rgb(1, 81, 20)
}
.gameview .menu-bar {
	-fx-background-color: rgb(0, 43, 26)
}
.menu-bar .label {
	-fx-text-fill: #7bb94b;
}
.menu-bar .menu:showing, .menu-bar .menu:hover {
	-fx-background-color: rgb(14, 51, 23);
}
.menu .label {
	-fx-font-weight: bold;
}


/* Curseur de main sur les boutons */
.button {
	-fx-cursor: hand;
}


/* Boutons stylisés vert */
.buttonGreenBig, .buttonGreenMedium, .buttonGreenLittle {
	-fx-background-color: rgb(25, 95, 43);
	-fx-background-radius: 25px;
	-fx-border-width: 3px;
	-fx-border-color: rgb(18, 54, 13);
	-fx-border-radius: 20px;
	-fx-font-family: 'Miriam Mono CLM';
	-fx-font-weight: bold;
	-fx-text-fill: #a2e76d;
}

.buttonGreenBig {
	-fx-font-size: 24px;
}

.buttonGreenMedium {
	-fx-font-size: 18px;
}

.buttonGreenLittle {
	-fx-font-size: 12px;
}

.buttonGreenBig:hover, .buttonGreenMedium:hover, .buttonGreenLittle:hover {
	-fx-background-color: rgb(26, 83, 38);
	-fx-text-fill: #56793c;
}

.buttonGreenBig:focused, .buttonGreenMedium:focused, .buttonGreenLittle:focused {
	-fx-background-color: rgb(25, 95, 43);
	-fx-border-color: rgba(18, 54, 13, 0.75);
}


/* Mise en forme des TextArea */
.text-area {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-highlight-fill: rgba(0, 0, 0, 0);
  	-fx-highlight-text-fill: rgba(0, 0, 0, 0.75);
  	-fx-text-fill: rgba(0, 0, 0, 0.75);
	-fx-border-color: rgb(92, 128, 56);
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
}
.text-area .content {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-cursor: default;
}
.text-area .scroll-pane .viewport,
.text-area .scroll-pane .scroll-bar:vertical,
.text-area .scroll-pane .scroll-bar:vertical .decrement-button,
.text-area .scroll-pane .scroll-bar:vertical .increment-button {
	-fx-background-color: rgba(0, 0, 0, 0);
}
.text-area .scroll-pane .scroll-bar:vertical .thumb {
	-fx-background-color: rgba(91, 116, 46, 0.5);
}
.text-area:disabled {
	-fx-text-fill: black;
	-fx-opacity: 1;
}

/* Couleur des boutons (vert et rouge) */
.button:default, .buttondefault {
    -fx-background-color : rgb(70, 140, 70);
	-fx-text-fill: rgba(0, 0, 0, 0.8);
}
.button:default:hover, .buttondefault:hover {
    -fx-background-color: rgb(70, 170, 70);
}

.button:cancel, .buttoncancel {
	-fx-background-color : rgb(170, 90, 90);
	-fx-text-fill: rgba(0, 0, 0, 0.8);
}
.button:cancel:hover, .buttoncancel:hover {
	-fx-background-color : rgb(200, 90, 90);
}



/* Slider */
.slider .track {
	-fx-background-color : rgb(31, 150, 56);
}
.slider .thumb {
   -fx-background-color : rgb(39, 207, 39);
}


/* Label */
.joueurview .label, .settingsview .label, .dialog-pane .label {
	-fx-text-fill: #7bb94b;
	-fx-font-weight: bold;
}
