/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.insetblock {
	-fx-border-radius: 10px;
	-fx-border-color: green;
	-fx-border-width: 2px;
	-fx-padding: 5px 10px 10px 15px;
}

.listview {
	-fx-background-color: lightblue;
}

.wrong {
	-fx-border-radius: 5px;
	-fx-border-color: #dd0000;
	-fx-border-width: 2px;
}

.menu {
	-fx-font-size: 12px;
}

.button:default {
    -fx-background-color : rgb(70, 139, 70);
}
.button:default:hover {
    -fx-background-color: rgb(67, 167, 67);
}

.button:cancel {
	-fx-background-color : rgb(173, 89, 89);
}
.button:cancel:hover {
	-fx-background-color : rgb(190, 110, 110);
}
